@use "sass:color";
$primary-bg: rgb(255, 255, 255);
$secondary-bg: rgb(245, 245, 245);
$tertiary-bg: rgb(235, 235, 235);
$quaternary-bg: rgb(225, 225, 225);
$quinary-bg: rgb(215, 215, 215);
$senary-bg: rgb(205, 205, 205);
$septenary-bg: rgb(195, 195, 195);
$octonary-bg: rgb(185, 185, 185);
$nonary-bg: rgb(175, 175, 175);
$denary-bg: rgb(165, 165, 165);

$accent: black;
$accent-light: color.mix(white, $accent, 80%);
$accent-hover: color.mix(white, $accent, 20%);
$accent-hover-2: color.mix(white, $accent, 40%);
$accent-light-hover: color.mix(white, $accent-light, 20%);

$accent-red: hsl(0, 100%, 50%);
$accent-red-hover: color.mix(white, $accent-red, 20%);
$accent-red-light: color.mix(white, $accent-red, 80%);

$border-color: rgb(230, 230, 230);
$text-color: rgb(0, 0, 0);
$text-color-secondary: rgb(51, 51, 51);
$text-color-tertiary: rgb(100, 100, 100);
$border-color: rgba(0, 0, 0, 0.075);
