#__nuxt,
html,
body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s,
        opacity 0.2s;
    font-family: "Inter", sans-serif;
}
.leaflet-control-attribution {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(215, 215, 215);
    border-radius: 10px;
}
